* {
  font-family: 'Roboto Mono', monospace;
}

html,
body {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  height: 100%;
  background-color: #2A3949;
}

.sidebar>.center-img {
  display: flex;
  width: auto;
  justify-content: center;
  margin: 15px;
}

.sidebar>.center-img>img {
  object-fit: cover;
  width: 24vw;
  height: 24vw;
  border-radius: 24vw;
}

.sidebar>p {
  color: white;
  margin: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}


.sidebar>p,
.sidebar>ul>li,
.content>.body>div>div>ul>li {
  font-size: smaller;
}

.sidebar>h3 {
  color: peachpuff;
  margin: 0;
  margin-left: 10px;
}

.sidebar>hr {
  width: calc(100% - 20px);
  background-color: peachpuff;
  border: 0px;
  height: 2px;
  margin: 10px;
}

.sidebar>ul>li {
  padding: 5px;
  color: white;
}

.sidebar>ul {
  padding-left: 25px;
  margin: 2px;
  align-items: flex-start;
}

div.leftcol {

  clear: both;
  width: 50%;
  float: left;
}

div.rightcol {
  width: 50%;
  float: right;
}

.content {
  width: 100%;
  height: calc(100%);
  margin: 0px;
}

.heading {
  height: 24vw;
  width: 100%;
  margin: 15px;
  padding: 0px;
}

.heading>.leftcol>h1 {
  margin: 0px;
  font-size: 50px;
  color: #2A3949;
}

.heading>.leftcol {
  display: flex;
  align-items: center;
  height: 100%;
  width: 55%;
}

.heading>.rightcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 45%;
}

.heading>.rightcol>div {
  display: flex;
  align-items: center;
}

.rightcol>div>p,
.rightcol>div>span {
  display: inline;
  color: #2A3949;
  margin: 7px;
}

.body {
  margin: 15px;
}

.body>h3 {
  color: #2A3949;
  margin: 0;
  font-weight: bold;
}

#top-hr {
  margin-top: 24px;
}

.body>hr {
  background-color: #2A3949;
  border: 0px;
  height: 2px;
}

.job,
.education {
  height: 90px;
  /* Max between leftcol & rightcol's height */
}

.skills {
  height: 250px;
}

.body>div>div>h4,
.body>div>div>h5,
.body>div>div>div>h6 {
  margin: 5px;
  color: #2A3949;
}

.body>div>div>div>h6 {
  font-weight: 400;
}

.body>div>div>.leftcol,
.body>div>.leftcol {
  width: 40%;
}

.body>div>div>.rightcol,
.body>div>.rightcol {
  width: 60%;
}

.job>div>div>h5,
.education>div>div>h5,
.skills>h4,
.skills>h5,
.skills>div>ul,
.project>a>h5 {
  margin: 5px;
  color: #2A3949;
}

.skills>ul {
  margin-top: 0px;
}

.skills>h5 {
  margin-bottom: 0px;
}

.project>p {
  font-size: smaller;
  color: #2A3949;
  margin: 0px;
  margin-left: 10px;
}

.refs>h4 {
  color: #2A3949;
  margin: 0px;
  margin-left: 10px;
  margin-bottom: 5px;
}