.banner {
  padding: 5px;
  text-align: center;
  background: #333;
  color: white;
  width: 40%;
  margin: auto;
}

fieldset {
  width: 39.1%;
  margin: auto;
}

textarea {
  width: 100%;
  height: 5em;
}

div.leftcol {
  clear: both;
  width: 50%;
  float: left;
}

div.rightcol {
  width: 50%;
  float: right;
}

div#btndiv {
  width: 39.1%;
  margin: auto;
}

.formButton {
  width: auto;
  padding: 10px;
  font-size: large;
  border: 0px solid;
  background-color: #333;
  color: white;
}